html {
  background: #282828;
}

@media screen and (min-width: 832px) {
  body {
    width: 800px;
    margin: 0 auto;
  }
}

body {
  background: #606060;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.control {
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5em;
  margin: 0.5em;
  padding: 0.5em;
}

.terminal_nav {
  background-color: #cccccc;
  float: right;
  border-radius: 0.5em;
  padding: 2px;
}

.output {
  background-color: #f0f0f0;
  border-radius: 0.75em;
  margin: 0.5em;
  padding: 0.2em;
}

#status {
  margin: .5em 0;
  font-style: italic;
}

#log {
  /* margin: .5em 0; */
  white-space: pre-wrap;
}

#status:empty,
#log:empty,
#content:empty {
  display: none;
}