/* Оформление для console. Author: Ardbot */

.log {
    margin: 0.3em 0em;
    min-width: 200px;
    z-index: 1000;
    background: #414141;
}

.logButton {
    float: right;
    float: top;
}

.logOutput{
    background: #f0f0f0;
    max-height: 4em;
    overflow: auto;
    margin: 0.5em;
    padding: 0.2em;
}